;; Builtin dashboard templates ("Libraries & templates").
;;
;; Download is ALWAYS a single file (HTTP GET of :file-uri), never a full
;; git/ModelScope repo snapshot. Backend follows redirects when needed
;; (app.setup.templates/get-template-stream).
;;
;; Prefer ModelScope resolve URLs (per-kit binary in penpot-marketplace).
;; Local override still works: backend/builtin-templates/<id> if present.
[{:id "tokens-starter-kit"
  :name "Design tokens starter kit"
  :file-uri "https://www.modelscope.cn/models/sunlab-registry/penpot-marketplace/resolve/master/kits/builtin/tokens-starter-kit/kit.penpot"}
 {:id "penpot-design-system"
  :name "Penpot Design System | Pencil"
  :file-uri "https://www.modelscope.cn/models/sunlab-registry/penpot-marketplace/resolve/master/kits/builtin/penpot-design-system/kit.penpot"}
 {:id "wireframing-kit"
  :name "Wireframe library"
  :file-uri "https://www.modelscope.cn/models/sunlab-registry/penpot-marketplace/resolve/master/kits/builtin/wireframing-kit/kit.penpot"}
 {:id "prototype-examples"
  :name "Prototype template"
  :file-uri "https://www.modelscope.cn/models/sunlab-registry/penpot-marketplace/resolve/master/kits/builtin/prototype-examples/kit.penpot"}
 {:id "plants-app"
  :name "UI mockup example"
  :file-uri "https://www.modelscope.cn/models/sunlab-registry/penpot-marketplace/resolve/master/kits/builtin/plants-app/kit.penpot"}
 {:id "tutorial-for-beginners"
  :name "Tutorial for beginners"
  :file-uri "https://www.modelscope.cn/models/sunlab-registry/penpot-marketplace/resolve/master/kits/builtin/tutorial-for-beginners/kit.penpot"}
 {:id "lucide-icons"
  :name "Lucide Icons"
  :file-uri "https://www.modelscope.cn/models/sunlab-registry/penpot-marketplace/resolve/master/kits/builtin/lucide-icons/kit.penpot"}
 {:id "font-awesome"
  :name "Font Awesome"
  :file-uri "https://www.modelscope.cn/models/sunlab-registry/penpot-marketplace/resolve/master/kits/builtin/font-awesome/kit.penpot"}
 {:id "black-white-mobile-templates"
  :name "Black & White Mobile Templates"
  :file-uri "https://www.modelscope.cn/models/sunlab-registry/penpot-marketplace/resolve/master/kits/builtin/black-white-mobile-templates/kit.penpot"}
 {:id "avataaars"
  :name "Avataaars"
  :file-uri "https://www.modelscope.cn/models/sunlab-registry/penpot-marketplace/resolve/master/kits/builtin/avataaars/kit.penpot"}
 {:id "ux-notes"
  :name "UX Notes"
  :file-uri "https://www.modelscope.cn/models/sunlab-registry/penpot-marketplace/resolve/master/kits/builtin/ux-notes/kit.penpot"}
 {:id "whiteboarding-kit"
  :name "Whiteboarding Kit"
  :file-uri "https://www.modelscope.cn/models/sunlab-registry/penpot-marketplace/resolve/master/kits/builtin/whiteboarding-kit/kit.penpot"}
 {:id "open-color-scheme"
  :name "Open Color Scheme"
  :file-uri "https://www.modelscope.cn/models/sunlab-registry/penpot-marketplace/resolve/master/kits/builtin/open-color-scheme/kit.penpot"}
 {:id "flex-layout-playground"
  :name "Flex Layout Playground"
  :file-uri "https://www.modelscope.cn/models/sunlab-registry/penpot-marketplace/resolve/master/kits/builtin/flex-layout-playground/kit.penpot"}
 {:id "welcome"
  :name "Welcome"
  :file-uri "https://www.modelscope.cn/models/sunlab-registry/penpot-marketplace/resolve/master/kits/builtin/welcome/kit.penpot"}]
